.imgcont{
position: relative;
height: 500px;
width: 100%;
background-color: aquamarine;
}

.textt{
    position: absolute;
    top: 30%;
    left:30%
    /* padding: 10px; */
    /* margin-left: 50%; */
   
}
.smalll{
    position: absolute;
    top: 50%;
    left: 0;
    background-color: aliceblue;

    padding: 10px;
}

.small{
    position: absolute;
    top: 50%;
    right: 0;
    background-color: aliceblue;

    padding: 10px;
}

.bt11{
    position: absolute;
    top: 75%;
    left: 46%;
    background-color: aliceblue;
    width: 100px;
}

.sec2{
    height: 100px;
    width: 100%
}


.sidee{
    background-color: rgb(255, 255, 255);
    height:500px ;
    margin-top: 20px;
    position: relative;
}
.aboutme{
    position: absolute;
    top: 0%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    /* padding: 10px; */
    height: 50px;
}

.socialmee{
    position: absolute;
    top: 650px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    /* padding: 10px; */
    height: 50px;

}


iconn{
    display: inline;
}












